@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    background-color: #f1f6fa;
    /* background-color: azure; */
    font-family: 'Cairo', sans-serif;
}
.container-fluid{
    display: flex;
    flex-direction: column;
}

.navbar{
    border-top: 3px solid #f1f6fa;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid #ff3e41;
    
}
.navbar ul{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0px;
}
.navbar ul label{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #ff3e41;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color:white;
    font-weight: bold;
  
  }
.navbar ul li a{
    display: flex;
color: #060315;
text-decoration: none;


}
.navbar ul li a:hover{
    color: #ff3e41;
    border-bottom:2px solid #ff3e41;
}

.active{
    border-bottom: 2px solid #ff3e41;
    
}
.dropbtn {
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: fixed;
    display: none;
  }
  @media only screen and (max-width: 525px) {
    .dropdown{
      display: block;
    }
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown i{
    color: #ff3e41;
    font-size: 30px;
  }
  .dropdown-content i{
    font-size: 15px;
  }
  #closedropdown{
    background-color: #ff3e41;
    color: #fff;
  }
  #closedropdown i{
    color: #fff;
  }
@media screen and (max-width: 525px) {
  .navbar{
    display: none;
  }
}
.container{
    padding:130px 0px 10px 0px;
    gap: 20px;
}
.totalcontent{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image img{
    display: flex;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 3px solid #ff3e41;
}
.speedlabel{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.clickspeed{
    padding: 30px 40px 20px 40px;
    background-color: #FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 3px solid #ff3e41;
}
.buttonstimer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.timer
{
    padding: 10px;
    background-color: aliceblue;
}
.btn-info:disabled{
opacity: 0;
}
.speedcontent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.count{
    text-align: center;
}
.btn-danger:disabled{
    opacity: 0;
}
.homeico{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #FF844B;
    cursor: pointer;
    box-shadow: 0px 3px 15px 2px #f1f6fa;
    border-radius: 10px;
}
.homeico p, i{
    margin: 0;
}
.homeico:hover{
    transform: translate(0,-2px);
}
.homeico a{
    text-decoration: none;
    color:#4E7D96;
}