@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    background-color: #f1f6fa;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
}
.navbar{
    border-top: 3px solid #f1f6fa;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid #ff3e41;
    
}
.navbar ul{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0px;
}
.navbar ul li a{
    display: flex;
color: #060315;
text-decoration: none;


}
.navbar ul li a:hover{
    color: #ff3e41;
    border-bottom:2px solid #ff3e41;
}

.active{
    border-bottom: 2px solid #ff3e41;
    
}
@media screen and (max-width: 450px) {
  .navbar{
    display: none;
  }
}
.container{
    text-align: center;
    justify-content: center;
    padding:90px 0px 10px 0px;

}
.content{
    display: flex;
    justify-content: center;
}
.image img{
    display: flex;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 3px solid #ff3e41;
}
.formlayout{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 30px 20px 10px 20px;
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    align-items: center;
    border-bottom: 3px solid #ff3e41;
}
.formcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    
}
.btn-success{
    padding: 5px 20px 5px 20px;
}
.indiancurrency{
    text-align: center;
    padding: 30px 0px 20px 0px;
    width: fit-content;
    
}
.label{
    text-align: left;
}
.UsDollar{
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.header{
    text-decoration: underline;
}
.homeico{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #ff3e41;
    cursor: pointer;
    box-shadow: 0px 3px 15px 2px #f1f6fa;
    border-radius: 10px;
}
.homeico p, i{
    margin: 0;
}
.homeico:hover{
    transform: translate(0,-2px);
}
.homeico a{
    text-decoration: none;
    color:#ff3e41;
}