@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body{
    background-color: #f1f6fa;
    background-size: cover;
    font-family: 'Cairo', sans-serif;
}
.container-fluid{
  display: flex;
  flex-direction: column;

}
.container{
  display: flex;
}
.navbar ul label{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #ff3e41;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color:white;
    font-weight: bold;
  
  }
  
  .navbar{
      border-top: 3px solid #f1f6fa;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 5px solid #ff3e41;
      margin: 0;
      
  }
  .navbar ul{
      width: 97%;
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      gap: 30px;
      list-style-type: none;
      margin: 0;
      padding: 10px 0px 10px 0px;
  }
  .navbar ul li a{
      display: flex;
  color: #060315;
  text-decoration: none;
  
  
  }
  .navbar ul li a:hover{
      color: #ff3e41;
      border-bottom:2px solid #ff3e41;
  }
  
  .active{
      border-bottom: 2px solid #ff3e41;
      
  }
  @media screen and (max-width: 525px) {
    .navbar{
      display: none;
    }
  }

  .dropbtn {
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: fixed;
    display: none;
  }
  @media only screen and (max-width: 525px) {
    .dropdown{
      display: block;
    }
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown i{
    color: #ff3e41;
    font-size: 30px;
  }
  .dropdown-content i{
    font-size: 15px;
  }
  #closedropdown{
    background-color: #ff3e41;
    color: #fff;
  }
  #closedropdown i{
    color: #fff;
  }
.container{
    text-align: center;
    justify-content: center;
    padding:90px 0px 10px 0px;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image img{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom: 3px solid #ff3e41;
}
.formlayout{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 10px 30px;
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    align-items: center;
    border-bottom: 3px solid #ff3e41;
}
.formcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    
}
.btn-success{
    padding: 5px 20px 5px 20px;
}
.indiancurrency{
    text-align: center;
    padding: 30px 0px 20px 0px;
    width: fit-content;
    
}
.label{
    text-align: left;
}
.UsDollar{
    padding: 10px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.header{
    text-decoration: underline;
}
.homeico{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #ff3e41;
    cursor: pointer;
    box-shadow: 0px 3px 15px 2px #f1f6fa;
    border-radius: 10px;
}
.homeico p, i{
    margin: 0;
}
.homeico:hover{
    transform: translate(0,-2px);
}
.homeico a{
    text-decoration: none;
    color:#ff3e41;
}
input[type=number]{
    width: 300px;
}
#output{
    cursor: not-allowed;
    
}