@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    background-color: #f1f6fa !important;
    font-family: 'Cairo', sans-serif;
}

.container{
    background-color: #f1f6fa !important;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 90px 0px 0px 0px;
}
.navbar{
    border-top: 3px solid #f1f6fa;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid #ff3e41;
    
    
}
.navbar ul{
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
.navbar ul li a{
    display: flex;
color: #060315;
text-decoration: none;
}
.navbar ul li a:hover{
    color: #ff3e41;
    border-bottom:2px solid #ff3e41;
}
.active{
    border-bottom: 2px solid #ff3e41;
    
}
.list{
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    gap: 20px;
    border-radius: 10px;
}
.list a{
    font-size: 23px;
    text-decoration: none;
    color: #4E7D96;
}
.listfield{
    box-shadow: 0px 5px 15px 0px #f1f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.list i{
    font-size: 30px;
    color:  #4E7D96;
}
.listfield:hover{
    background-color: aliceblue;
    border-radius: 20px;
    
}